html, body {
	height: 100%;
}
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}
.highlight {
	background-color: yellow;
}
.highlightAnnaphora {
	background-color: rgb(205, 211, 215);
}
.tooltip {
	position: absolute;
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	display: none;
}
/* #annotations {
	margin-top: 20px;
	max-height: 300px;
	overflow-y: auto;
	font-size: 20px;
	font-family: arial;
} */
.annotation-pair {
	margin-bottom: 5px;
}
.line {
	position: absolute;
	width: 2px;
	background-color: red;
	/* display	: none; */
}

/*-------------------------------------*/
.chain-box {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
  }

.chain-box h2 {
    font-size: 0.5em;
    margin-bottom: 10px;
  }

.chain-box h3 {
    cursor: pointer;
  }

.chain-content {
    display: none;
  }

.chain-content.expanded {
    display: block;
  }

/* New CSS for word coloring */
.colored-word {
	font-weight: bold;
	padding: 2px 4px;
	border-radius: 3px;
  }
  
/* Additional CSS to ensure consistent coloring */
.highlighted {
	font-weight: bold;
  }	

.antecedent-border {
	outline: 3px solid #000; /* Black outline for antecedents */
  }  
  
