html, body {
	height: 100%;
}
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}
.highlight {
	background-color: yellow;
}
.highlightAnnaphora {
	background-color: rgb(205, 211, 215);
}
.tooltip {
	position: absolute;
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	display: none;
}
/* #annotations {
	margin-top: 20px;
	max-height: 300px;
	overflow-y: auto;
	font-size: 20px;
	font-family: arial;
} */
.annotation-pair {
	margin-bottom: 5px;
}
.line {
	position: absolute;
	width: 2px;
	background-color: red;
	/* display	: none; */
}

/*-------------------------------------*/
.chain-box {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
  }

.chain-box h2 {
    font-size: 0.5em;
    margin-bottom: 10px;
  }

.chain-box h3 {
    cursor: pointer;
  }

.chain-content {
    display: none;
  }

.chain-content.expanded {
    display: block;
  }

/* New CSS for word coloring */
.colored-word {
	font-weight: bold;
	padding: 2px 4px;
	border-radius: 3px;
  }
  
/* Additional CSS to ensure consistent coloring */
.highlighted {
	font-weight: bold;
  }	

.antecedent-border {
	outline: 3px solid #000; /* Black outline for antecedents */
  }  
  



  .title {
    vertical-align: top;
    /* padding: 2px;
    padding: 6px; */
	display: table-cell;
	width: 10%;
  }

  div[id='gguidelines'] {
    font-family:sans-serif,monospace;
    -webkit-appearance: textarea;
  }
  .row {
    /*margin-top :2px !important;*/
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #title {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .divrow {
    display: table-row;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .srcdiv, .tgtdiv {
    /* width: 20%; */
    display: table-cell;
     /*word-break:break-word;*/
     word-break:break-word;
  /*  word-break:break-all;/* to fit content without space in screen*/
  }

